<nav class ="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/con-coin.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Con Coin
  </a>

  <div>
    <button class="btn btn-outline-light" routerLink="/settings">Settings</button>
    &nbsp;
    <div class="btn btn-outline-light" routerLink="/new/transaction">Create transaction</div>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction/pending">Pending transactions</button>
  </div>
</nav>

<router-outlet></router-outlet>